[2017-08-16 14:23] acidburnburn opened #1 "Kafka sends (Key, Value) as a record, and only value is passed to Kinesis"
Kafka sends (Key, Value) as a record, and only value is passed to Kinesis.
Key is lost forever. Cmon guys.

[2017-08-17 20:28] jessecollier commented on #1
Hmm. Looks it is in fact sending the key...
https://github.com/awslabs/kinesis-kafka-connector/blob/master/src/main/java/com/amazon/kinesis/kafka/AmazonKinesisSinkTask.java#L85-L103

I'm interested in your testing as I'm wanting to implement this myself and also want to preserve the keys.

[2017-08-17 20:51] nehalmehta commented on #1
@acidburnburn Can you share config used by you? It passes key from Kafka to Kinesis. I will re-create based on your config.

[2017-08-17 21:46] acidburnburn commented on #1
Here is SinkRecord object http://apache.osuosl.org/kafka/0.10.0.1/javadoc/org/apache/kafka/connect/sink/SinkRecord.html

It has key and value. In the code you're passing only value, removing key:

f = kinesisProducer.addUserRecord(streamName, partitionKey,
						Integer.toString(sinkRecord.kafkaPartition()),
						DataUtility.parseValue(sinkRecord.valueSchema(), sinkRecord.value()));

[2017-08-17 21:49] acidburnburn commented on #1
Re tests - it's nice to have parametric integration test, where you can specify kafka topic and kinesis stream and see if can push record to kafka and get the same one from kinesis.

[2017-08-18 03:34] nehalmehta commented on #1
Thanks for the feedback. But partitionKey is initialized to Kafka Key here - https://github.com/awslabs/kinesis-kafka-connector/blob/master/src/main/java/com/amazon/kinesis/kafka/AmazonKinesisSinkTask.java#L85-L91.  Do you know if Kafka has non empty key in your use case? Or are you setting config usePartitionAsHashKey to true?

[2017-08-18 21:41] jessecollier commented on #1
@nehalmehta 👍  on default false.

I've also modified for my own needs to have default blank kafka keys be randomized onto kinesis.
https://github.com/awslabs/kinesis-kafka-connector/compare/master...jessecollier:master

This provides me the ability to scale shards > partitions.
Not sure if you'd be interested in merging this into the main code base.

[2017-08-21 16:18] nehalmehta commented on #1
@jessecollier  thanks for the feedback. If you want to scale shards > partitions and also have round robin delivery to shards, it would be better to have following so that Key values are preserved.

f = kinesisProducer.addUserRecord(streamName, partitionKey,
            Integer.toString(random.nextInt(partitionKeysCount)),
						DataUtility.parseValue(sinkRecord.valueSchema(), sinkRecord.value()))

[2017-08-21 16:32] jessecollier commented on #1
@nehalmehta from what i understand the input from partitionKey will be hashed and used to put onto the shard. How does specifying the ExplictHashKey help me? In fact what does it do? Why do I need two "key" parameters?

[2017-08-21 17:20] nehalmehta commented on #1
@jessecollier ExplicitHashKey is the hash value used to explicitly determine the shard the data record is assigned to by overriding the partition key hash. You can look at more information here - http://docs.aws.amazon.com/kinesis/latest/APIReference/API_PutRecord.html

[2017-08-31 13:17] behrangsa opened #2 "This connector is prone to data loss as well as OutOfMemoryError"
Is the Kinesis Stream Sink Connector for demo purposes or is it intended to be production-ready? From what I can see it is far from ready for production use. I suggest adding a note at the top of the README file and warning users that the connectors are not yet ready for the prime time. In particular, the current version is prone to data loss as well as OOM errors.

### `flush` is async and that c

[2017-09-04 00:25] behrangsa opened #3 "The connector does not guarantee order of records in the target shard is identical to their order in the source partition"

[2017-09-05 12:18] nehalmehta commented on #3
@behrangsa thanks for reaching out. Kafka provides order per partition and if it is important for you to maintain that partitioning order one will have to do following steps:

1) Set exactly same number of shards and partitions
2) Set usePartitionAsHashKey to true: This will use Partition Number of Kafka as explicit Hash key and so all messages of particular Kafka partition will always go to same

[2017-09-05 12:31] nehalmehta commented on #2
@behrangsa we appreciate your feedback.

1) As you may have noticed currently Kafka Connect Framework does not provide mechanism to start connector from particular offset and as a result it always starts processing data from first available offset of topic. Now if we have retention period set to 30 days in Kafka, when we start Kafka Connect it will try to process all 30 days worth of messages usin

[2017-09-05 12:32] nehalmehta commented on #1
There is no evidence provided that shows keys are not processed as they should be and so closing the issue.

[2017-09-05 12:32] #1 closed

[2017-09-07 02:07] behrangsa commented on #3
Hi @nehalmehta,

Thanks for your reply. From what I can see, even if we set `usePartitionAsHashKey` to `true`, there is still a potential for the records to lose their order:

* KPL aggregates a bunch of records (let's call this `batch1`) and makes an async call to put this into the target stream
* KPL aggregates the next bunch of records (let's call this `batch2`) and makes another async call to

[2017-09-07 16:49] nehalmehta commented on #3
Hi @behrangsa,

Yes - Maintaining order (Kafka Partitions) to (Kinesis Shards) is hard and comes with trade offs. If ordering is must requirement other configurations will help but it comes with heavy performance trade off.  One can set MaxConnections for KPL to 1, and update Kinesis-Kafka Connector code to wait for future (addUserRecord) to return before moving to process next set of records. Tho

[2017-09-08 03:28] behrangsa commented on #3
Hi Nehal,

It is true that stream-wide ordering is difficult to achieve, but the biggest issue I see here is that there's no guarantee that even records sent to the same shard are going to retain their order (for the aforementioned reasons).

I have implemented a solution using https://github.com/awslabs/kinesis-aggregation which is synchronous and allows us to pack about 500 Kafka records into an

[2017-09-08 05:08] SungHyeon opened #4 "We occured connect-standalone error... plz help me..."
**workers.properties**
[code]

**kinesis-streams-kafka-connector.properties**
[code]

**command line**
./connect-standalone.sh ../configs/worker.properties ../configs/kinesis-streams-kafka-connector.properties

**error logs**
[2017-09-08 05:04:06,004] ERROR Failed to create job for ../configs/kinesis-streams-kafka-connector.properties (org.apache.kafka.connect.cli.ConnectStandalone:89)
[2017-09-08

[2017-09-08 05:31] SungHyeon commented on #4
I'm setting classpath for kinesis-connector-XXXXX-SNAPSHOT.jar.
But, I'm saw different error message.
./connect-standalone.sh ../configs/worker.properties ../configs/kinesis-streams-kafka-connector.properties
[code]

[2017-09-08 05:41] SungHyeon commented on #4
I made the setting for $JAVA_HOME/lib/ext/amazon-kinesis-kafka-connecter-0.0.8-SNAPSHOT.jar

[2017-09-13 21:45] nehalmehta commented on #4
Which version of Kafka are you using?

[2017-09-14 00:33] SungHyeon commented on #4
My Kafka version here.
![kafka_version](https://user-images.githubusercontent.com/11917328/30406877-a691b4fc-992f-11e7-8632-f55df3c84d0a.JPG)

[2017-09-14 05:50] guoxun19 opened #6 "connect-standalone error: connector stopped caused by "Unsupported major.minor version""
Hi,

I met the error when run "connect-standalone.sh", the error log is as below. Could you please help me? Thanks a lot!
Kafka: 0.10.0.0
OS: CentOS 6.5

[2017-09-14 05:37:10,178] ERROR Stopping after connector error (org.apache.kafka.connect.cli.ConnectStandalone:100)
java.lang.UnsupportedClassVersionError: com/amazon/kinesis/kafka/AmazonKinesisSinkConnector : Unsupported major.minor v
	at java.l

[2017-09-14 06:08] nehalmehta commented on #6
Hi @guoxun19  Which JAVA version are you using to build the artifact? And which JAVA Version are you using to run Kafka - Connect?

[2017-09-14 06:13] nehalmehta commented on #4
Hi @SungHyeon,

So latest version of Kafka Connect (including yours) requires to define ConfigDef function which was not required in earlier versions. Please build using latest Kinesis - Kafka Connector code and it should resolve your error. Latest code by @adrianfdzm includes ConfigDef. Let us know if you still face the issue.

Thanks,
Nehal

[2017-09-14 06:14] guoxun19 commented on #6
Hi, @nehalmehta , java version to build artifact: 1.8 ; java version to run connect script: 1.7
Do I need to use the same java version to build and run?
Thank you!

[2017-09-14 06:17] nehalmehta commented on #6
@guoxun19  - Yeah. JRE has to be same or higher version.

[2017-09-14 06:44] guoxun19 commented on #6
@nehalmehta  thank you~ I update java version for running env to 1.8 and the issue has been resolved.

I have another question about credentials, I run connect script as Root, I put AWS credentials file under /root/.aws/credentials, but it doesn't work, the script "Unable to load AWS credentials from any provider in the chain", where should I put the credentials file and what the context format sh

[2017-09-14 13:11] nehalmehta commented on #6
You should be able to configure as per here - http://docs.aws.amazon.com/sdk-for-java/v1/developer-guide/credentials.html#credentials-default

Look at 3# in it and it should be under ~/.aws/credentials (depends on OS). I am closing this issue but if you have questions about credentials which are not answered in above link please open another issue.

Thanks,
Nehal

[2017-09-14 13:11] #6 closed

[2017-09-15 04:32] SungHyeon commented on #4
@nehalmehta Thank you. I will retry test for today..  And I would response for you.

[2017-09-18 08:28] guoxun19 opened #7 "Please help: Connecter Error "Pipes did not show up after calling mkfifo""
Hi,
I met with the error log when running connect-standalone.sh, could you please help me? Thank you~

Sep 18, 2017 3:50:11 PM com.google.common.util.concurrent.ExecutionList executeListener
SEVERE: RuntimeException while executing runnable com.google.common.util.concurrent.Futures$6@66177362 with executor INSTANCE
org.apache.kafka.connect.errors.DataException: Exception during Kinesis put
	at com

[2017-09-19 04:26] jameyuan opened #8 "SEVERE: RuntimeException while executing runnable com.google.common.util.concurrent.Futures$6@66177362 with executor INSTANCE org.apache.kafka.connect.errors.DataException: Exception during Kinesis put at com.amazon.kinesis.kafka.AmazonKinesisSinkTask$1.onFailure(AmazonKinesisSinkTask.java:60)"
Hello,  dears

We met a problem while run Kinesis-kafka-connector,  the error information is below:

==================== Error Log =====================
Sep 18, 2017 3:50:11 PM com.google.common.util.concurrent.ExecutionList executeListener
SEVERE: RuntimeException while executing runnable com.google.common.util.concurrent.Futures$6@66177362 with executor INSTANCE
org.apache.kafka.connect.errors.

[2017-09-20 03:46] jameyuan commented on #8
This problem is fixed due to /tmp directory permissions.    Thanks a lot!

[2017-09-20 03:46] #8 closed

[2017-09-20 05:44] guoxun19 commented on #7
Pipe will be create in directory /tmp/amazon-kinesis-producer-native-binaries/ by default, the user running connect-standalone.sh should have permission to write to the directory. Issue resolved, thank you.

[2017-09-20 05:44] #7 closed

[2017-09-25 16:19] pradeepcheers opened #9 "Guaranteed Deliver / Avoid Duplicate Records"
Guaranteed Delivery - Since the connector uses call back we can't guarantee delivery of the messages. How can we make sure guaranteed delivery of the records? Currently the connector follow FIRE-AND-FORGET schematics.

Avoid duplication - Since we fetch records from Kafka records in batches, if KPL fails for some connectivity issue then we end up having duplicate records in Kinesis (because we can

[2017-09-25 18:07] benalta commented on #9
Can you advise your use case?
Why dont you use kinesis firehose as a destination.

[2017-09-28 19:48] pradeepcheers commented on #9
I have some events in Kafka topics and I have to publish them to Kinesis streams so I'm planning to use this connector. However in general this connector doesn't guarantee exactly once delivery. Kinesis firehose is not an option for me!

[2017-10-03 18:00] benalta commented on #9
Thanks. You will need to implement de-dup functionality. KPL has retry mechanism but the scenario you describe may end with duplication. Bear in mind that we use the Kafka Connect Library and you may need also to implement it there as well.

[2017-10-04 20:59] anshul35 opened #10 "Unable to start the connector"
I am running the connector as a service on kubernetes. My docker file looks something like this:

[code]
Kafka-Connect Version: 0.11.0.1

Error Seen:

[code]

So, I tried using Version 0.9.0.0, it also threw an exception:

Error Logs:

[code]

[2017-10-11 13:42] nehalmehta commented on #10
Hi @anshul35

Can you provide more details --

1) How have you build Kinesis Kafka Connector?
2) Which Kafka Version are you using?
3) Which Kafka Connect API are you using?

Thanks,
Nehal

[2017-10-11 19:48] anshul35 commented on #10
Hi,

1. Built using "mvn package" on mac-osx
2. Kafka version 0.0.10
3. Tested with both Kafka connect version 0.0.9 and 0.0.11

[2017-10-12 05:19] anshul35 commented on #10
Changed the key/value converter to StringConverter in worker.properties and it worked.
Earlier, was using JsonConverter

[2017-10-12 05:19] #10 closed

[2017-10-12 09:06] jameyuan opened #11 "How to customize Kafka consumer.properties"
hello,
The default max.poll.records value is 2147483647 in Kafka 0.10.0.0,  it will cause the connector error if there're a lot of messages..  So how can we customize Kafka consumer properties in the connector?

Thanks a lot!
James

[2017-10-12 10:19] #11 closed

[2017-10-12 11:08] jameyuan commented on #11
it's has fixed by add "consumer.max.poll.records=400" in worker.properties..

[2017-10-12 12:50] nehalmehta commented on #4
Closing due to lack of activity.

[2017-10-12 12:50] #4 closed

[2017-10-19 16:33] jessecollier commented on #2
@nehalmehta This is what we see quite often.

If we were to change it from async to sync as @behrangsa has suggested, do you foresee any issues? It seems to make a lot of sense to wait for KPL to produce to kinesis before moving forward in the kafka log.

[2017-10-19 17:15] jessecollier commented on #2
I also found this in the documentation:

https://docs.confluent.io/current/connect/devguide.html

Suggesting that the design is meant to be blocking and not async. I'll begin testing the change on our fork.

[2017-10-19 18:06] jessecollier commented on #9
I too have this concern. Here's what I'm doing that may help. Warning this may reduce your throughput capacity and/or require more shards to handle shard limitations.

- Use synchronous flush (to address the fire-and-forget) method (If/Until merged you may have to fork it like I am doing https://github.com/awslabs/kinesis-kafka-connector/pull/12/files#diff-1cefe86e4e91f4a5c9a7637008435f10R84)

- C

[2017-10-19 18:07] jessecollier opened #13 "Add travisci/circleci"
Would be nice if you added auto build and release so we can download the targz.

Example: https://github.com/jessecollier/kinesis-kafka-connector/blob/master/.travis.yml

[2017-10-19 21:01] jessecollier commented on #2
Just ran this with flushSync() and 1 worker with 15 connectors and each connector had 3 tasks.
I am running in distributed mode.

I produced almost 2 million messages in kafka, confirmed the consumer offset lag. The single worker seemed to process with no issues.

Not able to produce a single OOM Java Heap.

I ran 2 more workers (while the 1st is running) and they joined the cluster and began spin

[2017-10-22 15:18] nehalmehta commented on #2
Hi @jessecollier,

Just using flushSync instead of flush might have some challenges -- When we are using flushSync it attempts to flush every 500 ms till all records are flushed. So if Kinesis Streams are throttled because load has increased, it will keep on attempting flush till all records are successfully submitted to Kinesis Streams. Though if it takes 30s+ (default consumer session time out f

[2017-10-23 03:00] nehalmehta commented on #9
Hi @jessecollier,

Exactly once delivery (Guaranteed) is difficult to achieve in any streaming service. Changing aggregation to false and using synchronous flush will absolutely help but cannot guarantee exactly once delivery. Let's take one of the edge case:  If connector sends message to Kinesis using synchronous flush and without aggregation, but due to network lag it does not gets responses wi

[2017-11-03 21:27] vsaini-rythmos opened #14 "Task fails when reading Avro encoded event from Kakfa Topic"
What properties should be configured for Worker and Connector to consume Avro encoded events from Kafka Topic?

Currently the task fails if i use Avro Converters as mentioned below.

connect-avro-standalone.properties
key.converter=io.confluent.connect.avro.AvroConverter
key.converter.schema.registry.url=http://localhost:8081
value.converter=io.confluent.connect.avro.AvroConverter
value.converter.

[2017-11-06 23:24] sqlcook commented on #14
+1 having exact same issue

[2017-11-07 16:05] nehalmehta commented on #14
@sqlcook  @vsaini-rythmos  Can you share  sample schema that you are using (anonymize it)? I am working on solution for error mentioned above but want to verify it resolves your issue.

[2017-11-07 19:00] sqlcook commented on #14
@vsaini-rythmos thanks for looking into it, here is an example of simplified version of my schema:

`[
  {
    "namespace": "com.example.model",
    "name": "Event",
    "type": "record",
    "fields": [
      {
        "name": "field",
        "type": "string"
      },
      {
        "name": "field",
        "type": [
          "null",
          "string"
        ],
        "default": null

[2017-12-06 19:20] snehamj opened #16 "Unable to build jar: Could not resolve dependencies"
Hi, I cloned the repo for the gitHub page and tried "mvn package" from the folder but it fails with this error. Please let me know how to fix this.
[code]

[2017-12-07 18:32] #16 closed

[2017-12-07 20:00] snehamj opened #17 "Caused by: org.apache.kafka.connect.errors.ConnectException: Failed to find any class that implements Connector and which name matches com.amazon.kinesis.kafka.AmazonKinesisSinkConnector"
1) Cloned the git repo
2) mvn clean package
3) Copied the `amazon-kinesis-kafka-connecter-0.0.8-SNAPSHOT.jar` to JAVA_HOME/lib/ext
4) Made changes to worker.properties and kinesis-kafka-streams-connecter.properties
5) Started the standalone connector using:
`connect-standalone kinesis-kafka-connector/config/worker.properties kinesis-kafka-connector/config/kinesis-streams-kafka-connector.properties

[2017-12-21 15:43] jevonearth opened #18 "Problems getting plugin to load"

[2018-01-10 20:44] jevonearth commented on #18
Hi @nehalmehta any chance you could have a quick look at this and offer some advice?

[2018-01-18 06:00] vsaini-rythmos commented on #14
@nehalmehta Any idea by when this issue will be resolved?

[2018-02-06 09:55] kprakashmca commented on #17
Did you fixed the issue. I'm in the same boat, please shed ome light if you have fixed the issue.

Thanks.

[2018-02-08 18:39] hyginous29 opened #20 "We have kafka brokers running in Amex, can we use this connector to send to AWS kinesis."
It is a B2B use-case, were proxy might be needed at our end and data flow through the proxy.

So, can we configure a outbound proxy server with this kinesis-kafka-connector ?

[2018-02-08 19:52] benalta commented on #20
Hi, you should be able to. Can you email me at benaltar@amazon.com?

[2018-03-04 03:13] ajaysamant opened #21 "com.google.common.collect.Sets$SetView.iterator() Exception in thread "main" java.lang.NoSuchMethodError:"
It has been very difficult experience using this connector for my use case.

First i had to comment few lines in stop method line 293...it was giving Nullpointerexception..
then when i dropped the new jar file now its giving NoSuchMethodError.

Not sure if i should try to use this connector for my use case or think of some other options..

[2018-03-05 15:07] nehalmehta commented on #21
Hi @ajaysamant

Have you added connector artifact to classpath? You can also add path of artifact in worker properties file plugin.path=/sompath/

I think there is some conflict when you are adding to classpath. Try to add properties plugin.path in worker properties

Thanks,
Nehal

[2018-03-05 17:47] ajaysamant commented on #21
I did that...
after doing the maven build - which was successful - i added this line in worker.properties
last 3 lines ...

schemas.enable=false
rest.port=8888
plugin.path=**/home/ec2-user/kinesis-kafka-connector/lib**

the jar files are under target folder..

its picking up from aws jdk jar file

[2018-03-05 17:45:18,150] INFO Scanning for plugin classes. This might take a moment ... (org.apache.

[2018-03-05 22:11] nehalmehta commented on #21
@ajaysamant Have you moved JAR files to /home/ec2-user/kinesis-kafka-connector/lib? Do they have appropriate permission?

[2018-03-13 18:10] ushulau commented on #21
same issue here `no such method` looks like version issue I'm using kafka 2.12 and same aws library

[2018-03-29 23:47] p2krish commented on #14
Any idea when this starts supporting Avro. I'm trying to use the master branch but I get the following exception

java.lang.NullPointerException
	at com.amazon.kinesis.kafka.DataUtility.parseValue(DataUtility.java:43)
	at com.amazon.kinesis.kafka.DataUtility.lambda$parseValue$1(DataUtility.java:96)
	at java.util.ArrayList.forEach(ArrayList.java:1249)
	at java.util.Collections$UnmodifiableCollectio

[2018-04-25 09:51] Pyons opened #22 "SinkConnector fails on JSON input with NullPointerException"
[code]

Connector config:
[code]
I tried with schemas enabled but it fails anyways, any ideas what could be wrong.
My mongoDB sinkconnector works fine.

[2018-04-25 14:49] #22 closed

[2018-07-03 23:13] latree commented on #20
Hi, I have the same issue with using this connector in the server with specified internet proxy. I would like to know the answer too. Can you help me out?

[2018-07-16 08:22] YemingHuang commented on #14
Same issue for me. +1

[2018-09-07 10:43] nikesh-dev opened #23 "Does this connector supports MFA enabled IAM user?"

[2018-10-30 10:33] taffowl commented on #14
I've started some work on adding AVRO parsing support; configurable via a new task property. (Firehose sink task not yet supported though should be trivial to get working). The parser works without a schema registry and simply parsers using the schema passed with the message. Branch here: https://github.com/taffowl/kinesis-kafka-connector/tree/feature/add-avro-support

[2018-11-14 20:20] uncodead commented on #21
try to insert this at pom.xml:

                <dependency>
                         <groupId>com.google.guava</groupId>
                         <artifactId>guava</artifactId>
                         <version>27.0-jre</version>
                </dependency>

run _mvn package_, and copy to classpath

[2019-01-26 10:12] SrinivasaDK opened #28 "Unable to load AWS credentials from any provider in the chain"
Hi All,

I am getting below error, please advise.

We are trying to transfer data from Kafka to Kinesis, have exported my aws secret and access key,
[opc@kafkanode CDH-6.1.0-1.cdh6.1.0.p0.770702]$ env |grep -i aws
AWS_SECRET_ACCESS_KEY=**********************
AWS_ACCESS_KEY_ID=**************************

our configuration details are:

[opc@kafkanode config]$ cat worker.properties
bootstrap.servers

[2019-02-21 09:00] meilyasahsan opened #29 "Support proxy setting"
Hi, there is configuration for configure proxy? thank you

[2019-03-01 09:34] #29 closed

[2019-03-07 08:45] chickensoup commented on #23
source connector is provided by Confluent [https://www.confluent.io/connector/kafka-connect-kinesis/](https://www.confluent.io/connector/kafka-connect-kinesis/)

[2019-03-07 09:44] chickensoup commented on #21
Don't use the big connector since it may contains libs that duplicates with other libs. Try use the original-amazon-kinesis-kafka-connecter-0.0.9-SNAPSHOT.jar and copy the necessary jars into libs.

[2019-03-22 14:13] tc09fd53q opened #30 "Task threw an uncaught and unrecoverable exception/NullPointerException"
I tried to start the connector with
`export CLASSPATH=/home/kafkacon/kafka_2.11-2.1.1/libs/guava-20.0.jar:/home/kafkacon/amazon-kinesis-kafka-connecter-0.0.9-SNAPSHOT.jar
./kafka_2.11-2.1.1/bin/connect-standalone.sh worker.properties kinesis-streams-kafka-connector.properties`

Unfortunately after some promising messages:
`[logging.cc:83] Set boost log level to info (com.amazonaws.services.kinesis

[2019-04-10 20:43] bdesert opened #32 "Add Mac, IDE. Maven related files to .gitignore"
.gitignore for .DS_Store, target, and IDE related files should be added for developers' convenience.

[2019-04-10 23:27] #32 closed

[2019-04-11 08:14] cjbackman opened #34 "Java fails to convert object to KafkaTopic"
When the load is heavy enough to trigger the pausing/resuming of consumption the following error thrown:

[code]

This happens since the call to `toArray()` is used without explicitly specifying the type of the elements in the array.

See PR #31

[2019-04-11 16:32] bdesert opened #35 "Enhance maven and github config"
Enhance maven and github config:
- remove autogenerated files;
- add templates
- fix syntax errors

[2019-04-23 20:53] benalta commented on #35
This closes #36
where “36” is PR number.

[2019-04-23 20:53] #35 closed

[2019-04-25 23:08] bdesert opened #37 "Upgrade to Kafka 2 and Kinesis 2 versions"
Upgrade is required to recent Kafka and Kinesis Versions.
Current Kafka version: 2.11
Current Kinesis version: 2.2.0

[2019-05-30 15:37] binary132 commented on #2
Hey folks -- it looks like this is still an unresolved issue.  Has sync support been added yet?  Is there any plan for this?  Without delivery guarantees, this isn't production-worthy.

[2019-06-13 13:35] AlejandroKolio commented on #21
Try to disable proxy
![image](https://user-images.githubusercontent.com/10224161/59436958-4a093000-8df9-11e9-9d8d-78a47d545007.png)

[2019-11-01 17:02] MirAli1984 commented on #20
@benalta I have a similar use case where Kafka is running on our on prem instance and all outbound communication needs to flow through a proxy server. Is it possible to configure an outbound proxy server? If yes, how can that be achieved? Thanks for your help.

[2019-11-05 07:36] JoeShi commented on #17
I also run into this issue.

[2019-11-24 12:32] JoeShi opened #40 "Add support for China region"
The connector does not work in AWS China region since the endpoint is different.

[2020-01-24 09:12] deuscapturus opened #42 "Is this project dead?"
Is this project still alive?  Does an alternative exist?

[2020-01-24 09:17] deuscapturus commented on #14
Same issue here. +1

[2020-03-27 08:53] learner0101 opened #43 "java.lang.NoClassDefFoundError: com/amazonaws/services/kinesisfirehose/model/AmazonKinesisFirehoseException"
this error occurs when i tried to run firehose connector

[2020-04-06 18:56] skidder commented on #2
It looks as though this may have been resolved in Dec 2017 by the addition of sync support via https://github.com/awslabs/kinesis-kafka-connector/commit/0ca4735d80f7fd7ad6f1991f34860e100758cbc7. Can anyone confirm?

[2020-04-06 19:03] skidder opened #44 "Support IAM AssumeRole with an External ID"
The Kinesis and Kinesis Firehose connectors should support the use of an IAM role with an external-id. This is a popular method of restricting access to AWS resources across accounts. In my case, I need to configure the Kinesis connector to read from Kafka and write to a Kinesis stream owned by another AWS account.

The connectors should take the following additional config values:
 * IAM Role ARN

[2020-06-08 06:39] zhiyanliu commented on #18
https://github.com/zhiyanliu/kinesis-kafka-connector-docker

[2020-09-01 16:53] atulrenapurkar opened #46 "Creat new distributed connector"
Hi

I am using kinesis-kafka-connector in distributed mode.

I was using rest post request like below
http://XYZ.com:8083/connectors/

request body
{
   "name":"connector-name",
   "config":{
      "connector.class":"com.amazon.kinesis.kafka.AmazonKinesisSinkConnector",
      "tasks.max":"6",
      "topics":"topic-name",
      "maxConnections":"200",
      "rateLimit":"7000",
      "region":"us-ea

[2020-09-14 13:24] bdesert commented on #46
I'm checking the config.

[2020-09-14 22:16] bdesert commented on #46
@atulrenapurkar,
could you please provide following details:
- which dependency version of connect-api have you defined before running maven build?
- which version of Connect cluster are you running?

It looks like you are running into this issue: [https://issues.apache.org/jira/browse/KAFKA-3988](https://issues.apache.org/jira/browse/KAFKA-3988)

[2020-09-15 00:26] bdesert commented on #42
@deuscapturus,
coming back to alive. hoping to clear issues and take a look on some PRs.

[2020-09-15 00:31] bdesert commented on #43
You need to build a jar and put that in the location specified by property `plugin.path=/tmp/kafka/connectors` of connect (distributed) properties. Or, in standalone mode, it should just in classpath.
For distributed, this location is in classpath of the Connect workers.

[2020-09-15 04:05] #42 closed

[2020-09-16 13:14] bdesert commented on #40
@JoeShi ,
There is a PR submitted to provide more generic approach to specify endpoint and includes some more enhancements. Could you please take a look at PR #45 and confirm it works for your scenario in China region?

[2020-09-16 15:34] bdesert commented on #2
@jessecollier this is an old issue, and as @skidder mentioned, looks like  https://github.com/awslabs/kinesis-kafka-connector/commit/0ca4735d80f7fd7ad6f1991f34860e100758cbc7 addresses this issue.
Have you tried more recent versions? can we close this issue?

[2020-09-29 12:36] zhiyanliu commented on #30
I met the same case.

After some dig, I can see rebalancing might cause the the topic partitions param of ``close()`` [0] contains more items than the opened producer map [1] in the sink task.

I think the root cause is:

TL;DL, at [2] the ``currentOffsets`` is used to call ``task.close()`` however it can be updated at [3] where is before to open the partition and prepare the producer for the sink

[2020-10-01 18:36] bdesert commented on #30
@zhiyanliu what would be the fastest way to reproduce the issue? Just make it rebalancing all the time until async happens? Topic repartitioning?

[2020-10-02 02:48] zhiyanliu commented on #30
@bdesert I think so at the moment, trigger rebalancing continually until it happens. According to the 3 points listed in the doc [0], beside topic repartitioning you can also trigger it by:

- a consumer join the group
- a consumer shutdown
- a consumer is considered dead by the group coordinator

For me, we met this in a dedicated environment I can't touch, I didn't try to reproduce it locally an

[2020-10-16 16:59] #44 closed

[2020-10-18 06:40] rkrk3 opened #48 "Can kinesis-kafka-connector running on Kafka-connect cluster in aws account A write to a kinesis stream that exists in account B?"

[2020-10-24 02:30] rkrk3 commented on #48
Changes merged as part of "ISSUE-44 Allow a task to run with an IAM role and external-id"(https://github.com/awslabs/kinesis-kafka-connector/pull/45) enabled cross account access.

[2020-10-24 02:30] #48 closed

[2020-11-26 16:54] skidder opened #49 "Kafka Connect 'DataException' instances are logged and swallowed by Futures"
## Description
The FutureCallback in AmazonKinesisSinkTask attempts to throw Kafka Connect `DataException` exceptions for failures generated during the `put`:
https://github.com/awslabs/kinesis-kafka-connector/blob/f613a685d76adccf57b1e778131eb6dad0f0d9a6/src/main/java/com/amazon/kinesis/kafka/AmazonKinesisSinkTask.java#L78-L94

The [`DataException`](https://kafka.apache.org/22/javadoc/org/apache/

[2020-12-04 18:34] FAYiEKcbD0XFqF2QK2E4viAHg8rMm2VbjYKdjTg commented on #28
I get the same thing with localstack- it also asks for the role arn and session name, but even with those it fails.

[2020-12-11 13:54] atulrenapurkar commented on #46
Sorry for the delay in reply.

I am using 0.11.0.2

<dependency>
			<groupId>org.apache.kafka</groupId>
			<artifactId>connect-api</artifactId>
			<version>0.11.0.2</version>
		</dependency>

[2020-12-11 14:38] atulrenapurkar opened #51 "SSL connection to broker"
Hi

I am trying to connect the Kafka broker by using ssl. I added the below properties in worker-connect-distributed.properties

security.providers=SSL
security.protocol=SSL
ssl.truststore.location=path/to/truststore.jks
ssl.truststore.password=truststore.password
ssl.keystore.location=path/to/keystore.jks
ssl.keystore.password=keystore.password
ssl.key.password=key.password

ssl.client.auth=requi

[2021-01-05 14:52] desavera commented on #22
what was the solution to this problem , please ?

[2021-01-05 15:15] desavera commented on #14
Any estimates on adding this feature @garethmdavies ?

[2021-01-08 20:10] desavera opened #53 "AmazonKinesisSinkTask.addUserRecord requires schema"
I have a use case where Topics hold data in Json format and no matter what combination of schema enablers I do the AmazonKinesisSinkTask.addUserRecord call will always force a call to the sinkRecord.valueSchema() ...

	private ListenableFuture<UserRecordResult> addUserRecord(KinesisProducer kp, String streamName, String partitionKey,
			boolean usePartitionAsHashKey, SinkRecord sinkRecord) {

		//

[2021-02-05 17:51] wildgordo opened #54 "Spelling Errors"
Minor issue but the word "aggregation" is misspelled as "aggreGration" throughout the code.

[2021-03-10 11:29] Vidyats1 opened #55 "java.io.IOException: Could not create tmp dir /tmp/amazon-kinesis-producer-native-binaries at com.amazonaws.services.kinesis.producer.KinesisProducer.extractBinaries(KinesisProducer.java:885)"
[code]

I am getting the above error while trying to publish data from Kafka to Kinesis. I tried this with both docker and native Kafka on Linux and it throws me the same error. Please let me know how to overcome this.

[2021-03-15 01:54] liruikaiyao commented on #17
just add plugin.path="your confluentinc-kafka-connect-kinesis path" in your worker.properties

[2021-05-17 17:46] wookasz commented on #53
@desavera were you able to find a way to avoid having to publish the schema along with your payload?

[2021-09-14 01:05] amaysakh opened #56 "NullPointerException in DataUtility.java"
Hi,

Getting NPE while running the connector.

ERROR WorkerSinkTask{id=XXX} Task threw an uncaught and unrecoverable exception. Task is being killed and will not recover until manually restarted. Error: null (org.apache.kafka.connect.runtime.WorkerSinkTask:607)
java.lang.NullPointerException
        at com.amazon.kinesis.kafka.DataUtility.parseValue(DataUtility.java:63)
        at com.amazon.kines

[2021-09-20 13:57] bdesert commented on #56
@amaysakh , fix submitted, since I couldn't reproduce the bug, I'll keep this issue opened for now. Please test and let me know if you still can see the issue.

[2021-09-22 01:07] amaysakh opened #58 "NPE in DataUtility.java line 35"
ERROR WorkerSinkTask{id=XXX} Task threw an uncaught and unrecoverable exception. Task is being killed and will not recover until manually restarted. Error: null (org.apache.kafka.connect.runtime.WorkerSinkTask:607)
java.lang.NullPointerException
        at com.amazon.kinesis.kafka.DataUtility.parseValue(DataUtility.java:35)

[2021-09-23 16:21] #54 closed

[2021-10-12 14:33] dressst opened #60 "VPC endpoint not supported"
We try to implement connector to forward data to AWS over private Kinesis / Firehose endpoint. As soon as we add our endpoint url to parameter "kinesisEndpoint", we get an connection error with following exeption:

[code]

We can get it working by creating a local DNS record "firehose.eu-central-1.amazonaws.com" and let it point to one of the IP's of our  VPC endpoint.

We also specify parameter "

[2021-10-25 13:53] #60 closed, assigned to bdesert

[2021-10-26 14:50] mdsufyan96 opened #63 "org.apache.kafka.connect.errors.ConnectException: Failed to find any class that implements Connector and which name matches com.amazon.kinesis.kafka.AmazonKinesisSinkConnector"
Hi,
I get the below error while using this connector in MSK Connect and it just goes to Failed state. As you can see, it's able to find the connector class from the uploaded plugin jar as it lists it under available connectors but still throws class not found exception too.

**Connector CloudWatch logs:**
org.apache.kafka.connect.errors.ConnectException: Failed to find any class that implements Co

[2021-11-30 12:34] RuiPinto93 opened #64 "Compatibility with MSK Connect"
Hi,

While creating a kinesis-kafka connector using MSK connect, it always fails when trying to reach AWS Kinesis Firehose.

When using the same .JAR and same configuration files but running the connect from an EC2 instance (inside the same VPC as the MSK cluster), this action is successful.

Is this current connector compatible with MSK Connect?

[2021-11-30 20:00] bdesert commented on #64
This connector is compatible with MSK Connect, let's make sure the configuration and the env have been setup properly.
Have you created Kinesis endpoint in your VPC? If you did not, please create one, and you also can configure the endpoint in properties.
If you already have, or adding endpoint hasn't helped, could you please share the exception you  are getting in the logs?

[2021-12-01 10:19] RuiPinto93 commented on #64
Yes I have created an endpoint for the Kinesis Firehose service.

What I find strange is that while running through the EC2 instance (inside the VPC) it can communicate with Firehose without any issue. (it resolves the DNS to 172.31.X.X).

However, when the connector is created through MSK Connect, it seems to resolve the DNS to a different type of IP range and therefore failing as shown in the me

[2021-12-03 17:59] bdesert commented on #64
Can you please check if you are having the recent updates? Please see #60 , is that related?

[2021-12-04 00:50] bdesert commented on #64
Can you also confirm you have private endpoint for Firehose in your VPC covering all private subnets where your MSK (if you use MSK) or explicitly provided subnets (if you use non-MSK Kafka)? Also, try to explicitly specify `region` in the properties.

this is my config that working for me:
[code]

[2021-12-06 16:20] RuiPinto93 commented on #64
Yes, I have the latest code version

Yes, the Private Endpoint that I have created for Firehose has both of the subnets where my MSK cluster is located.

[code]

[2021-12-06 18:38] bdesert commented on #64
can you please define explicitly the endpoint, like in my example above:
[code]

[2021-12-17 00:20] bdesert commented on #64
@RuiPinto93 checking on the issue. can you please confirm whether or not the suggestion above worked for you?

[2022-01-07 15:03] paulseo0827 opened #65 "org.apache.kafka.common.errors.TimeoutException: Timed out waiting to send the call. Call: fetchMetadata"
I have configured Connectors in the AWS MSK Console, and I am trying to transfer the data of kafka built with EC2 to firehose by selecting "Self-managed Apache Kafka cluster," which continues to cause errors.

![image](https://user-images.githubusercontent.com/25558369/148562152-4e549d32-8e1b-47c8-a356-d2fd873b7808.png)
![image](https://user-images.githubusercontent.com/25558369/148562284-f877b207

[2022-01-08 22:24] hafizmujadidKhalid commented on #64
@bdesert I am also facing this issue. Firehose endpoint is created though for all the subnets.

[2022-01-11 15:56] bdesert commented on #65
@paulseo0827 , thanks for reporting on your updates. Adding endpoint is what was suggested for #64, and I saw i was missing in your original config. Now it works, thanks for confirmation!

[2022-01-11 16:01] bdesert commented on #64
@hafizmujadidKhalid, could you please post your config? (remove sensitive info). I suspect you need to add endpoint information to a connector configuration.  Please also see updates on #65 with example of working configuration (and few comment above from me with my working config example).

[2022-01-11 16:08] hafizmujadidKhalid commented on #64
@bdesert!
here are my configs:
`connector.class=com.amazon.kinesis.kafka.FirehoseSinkConnector
tasks.max=2
topics=kafka-demo
kinesisEndpoint=firehose.eu-central-1.amazonaws.com
batch=true
deliveryStream=kafka-s3-demo
value.converter=org.apache.kafka.connect.storage.StringConverter
region=eu-central-1
batchSize=5
key.converter=org.apache.kafka.connect.storage.StringConverter`

[2022-01-11 16:13] bdesert commented on #64
@hafizmujadidKhalid your config looks good. Can you please ensure config value (all lines) you copy in UI doesn't contain DOS/Win end of line `\r` ? Replace `\r` with `\n`. Let me know if that helped

[2022-01-11 16:19] hafizmujadidKhalid commented on #64
@bdesert !
thanks, it seems working.

[2022-01-11 16:22] RuiPinto93 commented on #64
This is no longer an issue.

Thanks for the support!

[2022-01-12 21:41] bdesert commented on #64
Closing this issue.
Summary of resolution:
1. if deployed using MSK Connect, a Kinesis endpoint needs to be created in the same VPC and accessible from all the subnets MSK/Connect is deployed on.
2. this endpoint should be defined in connector properties
3. connector properties MUST NOT contain `\r` as new line delimiter. This happens when properties are copied from text editor on windows machine

[2022-01-12 21:41] #64 closed

[2022-01-18 02:53] hellotherecsy opened #66 "can't connect to Firehose with VPC Endpoint"
HI.
I am having the following same problem.
https://github.com/awslabs/kinesis-kafka-connector/issues/64

Both MSK / MSK Connect are in the same subnet and VPC.
and create vpc endpoint for firehose ( contain all subnet )
According to the msk connect log, it is returned as a public firehose ip, so it cannot be connected to the internal network.
( public ip : 52.x.x.x , private ip : 172.x.x.x )

52.

[2022-02-04 15:58] ecasilla opened #67 "How do i integrate this with the confluent connect container"
When i build this container and run it doesn't boot up. Not sure if this is a confluent container issue but if I remove the sink jar it boots up fine with other connectors.

[code]

[2022-02-14 19:54] masaruhoshi opened #68 "Dockerize the connector"
**Suggestions**
- [ ] Dockerfile created
- [ ] Github action building and testing the image

[2022-03-13 11:46] kapjoshi-cisco opened #69 "Caused by: org.apache.kafka.connect.runtime.rest.errors.BadRequestException: Connector config {internal.key.converter=org.apache.kafka.connect.json.JsonConverter, key.converter.schemas.enable=true, offset.storage.file.filename=offset.log, internal.value.converter.schemas.enable=true, internal.value.converter=org.apache.kafka.connect.json.JsonConverter, value.converter.schemas.enable=true, bootstrap.servers=127.0.0.1:9092, value.converter=org.apache.kafka.connect.storage.StringConverter, internal.key.converter.schemas.enable=true, key.converter=org.apache.kafka.connect.storage.StringConverter, schemas.enable=false} contains no connector type"
Hi,
I get the below error while using this connector for kafka source to kinesis firehose as sink.

Started kafka cluster using [quick start](https://kafka.apache.org/documentation/#quickstart) link

kafka version
[code]

Running configs:
1) worker.properties
[code]
2) kinesis-firehose-kafka-connector.properties
[code]
3) plugin_path in `/kafka/config/connect-standalone.properties`
[code]
Error tr

[2022-03-14 14:32] kapjoshi-cisco commented on #69
This fixed the issue [stackoverflow-link](https://stackoverflow.com/questions/53947583/mongodb-debezium-connector-config-contains-no-connector-type)

[2022-03-14 14:32] #69 closed

[2022-03-18 21:19] bdesert commented on #63
Please comment if this is still an issue.
if yes, please take a look at: https://github.com/awslabs/kinesis-kafka-connector/issues/64

It seems like when you copy/paste from a browser on windows-based machine, you are copying the `\r` EOL, which is not recognized later by the property parser in MSK Connect.
please ensure you have proper `\n` instead.

[2022-04-01 07:10] shanhq96 opened #70 "Memory Leak Issue for Kinesis Data Stream Sink Connector."
Hi,
I set up the Kinesis Data Stream Sink Connector on AWS MSK Connect. Per the metrics of AWS MSK Connector cluster, seems there are some memory leak issue for the connector. I can reproduce the issue stably. With the memory increasing, finally all Kafka Connect tasks would be killed by "Cannot allocate memory" exception.
![image](https://user-images.githubusercontent.com/20503157/161213520-405cd

[2022-05-18 01:05] skidder commented on #34
@bdesert Can we get this PR merged? This issue continues to be a problem, and the fix has been working for me in my deployment. Thanks!

[2022-08-01 12:57] filpano opened #71 "Invalid schema type when sending Avro message containing array of struct to Kinesis"
We have Avro records that we wish to send from Kafka to Kinesis. We are using Kafka 2.5 and the connector Config looks like the following:

[code]

The schema looks something like the following:

[code]

After trying to set up this connector to transfer these messages to Kinesis, we are immediately seeing the following error message:

[code]

The offending code portion seems to be the following ca

[2022-09-29 14:18] francoisneron commented on #68
Definitely interested in this.

How do we use this in a containerized approach with docker-compose?

[2022-10-08 14:01] tingxin opened #72 "[support]collect data from amazon msk to firehose"
hi guys,
i use kafka-kinesis-firehose-connector to create a connector in msk, but i met the issue:

`
ERROR [msk2Firehose2|task-1] WorkerSinkTask{id=msk2Firehose2-1} Task threw an uncaught and unrecoverable exception. Task is being killed and will not recover until manually restarted (org.apache.kafka.connect.runtime.WorkerTask:191)`

could anyone give me some options to use it collect data from a

[2022-10-10 19:33] francoisneron commented on #22
Would like to know as well, please?

[2022-10-12 00:07] francoisneron commented on #68
Here's my Dockerfile for anyone to use - pretty straightforward. Follow the same steps as the readme and run this with the appropriate files required:

[code]

[2022-10-12 16:28] OneCricketeer commented on #72
Can you share the complete stacktrace as well as your current configurations?

[2022-10-12 16:29] OneCricketeer commented on #68
I wouldn't recommend COPY in Kafka itself. Start from `confluentinc/cp-connect-base`, or [my own](https://github.com/OneCricketeer/apache-kafka-connect-docker), then just copy in the Connector JARs to the plugin path...

[2022-10-12 16:33] OneCricketeer commented on #67
This is correct. What is the exact error that you get?

[2022-10-12 22:49] bdesert commented on #30
@akhon, can you confirm from your side the fix is working as expected?

[2022-10-13 22:37] bdesert commented on #67
what java version are you running with the maven when you build this jar? and if you add any output (error, trace, full log) it could help

[2022-10-13 22:40] bdesert commented on #71
hi @filpano ,
thanks for submitting your record, this will help a lot. I'll update soon about the status and ETA.

[2022-10-13 23:04] bdesert commented on #71
@filpano , sorry for wishful typo above. :) thanks for schema. Can you provide also sample record based on this schema?

[2022-10-13 23:16] bdesert commented on #22
@francoisneron i think it was a dup to #56  (actually, 56 was a dup to this, because was identified before, but I went bottom up). Anyway, it was failing on schema type, after adding null-check on value, most cases where resolved. let me know if you have different experience after applying the fix #57

[2022-10-14 13:40] bdesert commented on #72
this connector works has been tested with MSK and works given proper configuration of endpoints in VPC and in connector's properties. please share the following:
- connector's config
- connectors logs from cloudwatch

[2022-10-25 18:42] erindru commented on #58
Yes, you are right. The fact that JsonConverter requires a schema and the whole thing is expected to crash without one was not obvious to me at the time.

Since then I have encountered a bunch of other issues (the main one being something crashing internally when this connector is under load and it just hangs with no log output, I could never figure out what) so I stopped using it and wrote my own

[2022-11-15 18:37] rptr94 commented on #55
you can change the configuation. like
        config.setTempDirectory("/usr/tmp/");

[2022-11-29 19:25] miguellgramacho96 opened #73 "Is it possible to change the format of the data being sinked to kinesis?"
Hi!

Wondering if it's possible to use the "value.converter" to read avro messages but then use some sort of property (not sure if this is a supported feature) to format the data, to a different format, and then sink it to a kinesis stream?

This is currently supported by a different connector: https://www.confluent.io/hub/confluentinc/kafka-connect-s3, with the "format.class" property.

Thanks!